@page
@model PackageDeliverySystem.Pages.Admin.Customers.CreateModel
@{
}
<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 action="text-primary pl-3">Create New Customer</h2>
		</div>

		<div class="mb-3">
			<label asp-for="@Model.Customer.Name"></label>
			<input asp-for="@Model.Customer.Name" class="form-control" />
			<span asp-validation-for="@Model.Customer.Name" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="@Model.Customer.Address"></label>
			<input asp-for="@Model.Customer.Address" class="form-control" />
			<span asp-validation-for="@Model.Customer.Address" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="@Model.Customer.Packages"></label>
			<input asp-for="@Model.Customer.Packages" class="form-control" />
			<span asp-validation-for="@Model.Customer.Packages" class="text-danger"></span>
		</div>

		<button type="submit" class="btn btn-primary">Create</button>
	</div>
</form>

@section Scripts {
	@{
		<partial name="_validationScriptsPartial" />
	}
}